@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h3 class="masthead-heading mb-0">Domain Ownerships</h3>
         
            <a asp-page="/Ownerships/Index" class="btn btn-primary btn-xl rounded-pill mt-5">Ownership List</a>
        </div>
    </div>

</header>

